<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @news.each do |news| %>
    <div class="content_post" >
      <%= simple_format(news.title) %>
          <span class="name"><%= news.article %></span>
    </div>
  <% end %>  
</div>
