@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.header{
display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
  margin: 15px 15px;
}

.user__info{
display: flex;   
justify-content: flex-end;
}


.main-article{
text-align: center;  
}

.name{
 text-align: center; 
}

.more_list{
 text-align: center; 
}

ul{
  list-style: none;
}

.logo{
 width: 150px;
height: 100px;
}

.list-menu{
 font-size: 17px;   
}

.list-menu1{
 margin: 10px;
}

.body{
  background-color: #FFF8dc;
  background-size: cover;
  background-position: center;
}

.waku{
 border: solid 1px; 
margin-bottom: 50px;
}

.contents_row{
text-align: center;  
}

.contents_post{
border: solid 1px; 
}

.main-title{
text-align: center;  
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
